* {
    box-sizing: border-box;
}

form {
    background-color: cyan;
    margin: 10px 5px;
    padding: 10px;
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    padding: 3px;
}

button {
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: burlywood;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
}

.img {
    position: absolute;
    z-index: -1;
    width: 100rem;
}