               * {
                   display: inline;
               }
               
               .parallax {
                   height: max-content;
                   background-attachment: fixed;
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: cover;
               }
               
               .page-title {
                   background: rgb(170, 37, 37);
                   text-align: center;
                   color: rgb(211, 76, 76);
                   padding: 10px;
                   font-variant: small-caps;
                   font-size: 20px;
                   font-family: fantasy;
                   letter-spacing: 15px;
               }
               
               .sticky {
                   position: fixed;
                   top: 0;
                   width: 100%;
               }
               
               .menu {
                   text-align: right;
                   padding: 5px;
               }
               
               .menu-ul {
                   margin: 0;
                   padding: 4px;
                   display: inline;
               }
               
               .menu-ul a {
                   font-size: 20px;
                   list-style: none;
               }
               
               .a-menu {
                   text-decoration: none;
                   color: rgb(0, 3, 5);
                   padding: 8px;
               }
               
               .menu-ul a:hover {
                   background: rgb(3, 44, 3);
               }
               
               button {
                   border: none;
                   border-radius: 8px;
                   background-color: brown;
                   color: burlywood;
                   padding: 7px;
                   font-weight: bold;
                   cursor: pointer;
                   width: 10%;
               }
               
               .img {
                   position: absolute;
                   z-index: -1;
                   opacity: 0.8;
                   width: 100rem;
               }